<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DigitalWarrantyTrackerTestSuite" verbose="10">
    <test name="DigitalWarrantyTrackerTests" preserve-order="true">
        <classes>
            <class name="com.example.demo.DigitalWarrantyTrackerTestSuiteTest"/>
        </classes>
    </test>
</suite>