<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DigitalWarrantyTracker Test Suite" verbose="0">
    <test name="DigitalWarrantyTrackerTests" verbose="0">
        <classes>
            <class name="com.example.demo.DigitalWarrantyTrackerTestSuiteTest"/>
        </classes>
    </test>
</suite>